* {
  margin: 0;
  padding: 0;
}
.container {
  margin: 15px auto;
  width: max-content;
}
#game {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px black;
}
.tile {
  background: #bada55;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
}
.active {
  background: red;
}
.unwalkable {
  background: black;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
}
.buttons button {
  height: 50px;
  width: 50px;
}
.updown {
  display: flex;
  flex-direction: column;
}
